@font-face {
    font-family: 'Viking';
    src: url('./assets/PR\ Viking.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px; 
    padding: 0px;
    background-image: url(./assets/falling-coins-opacity.png);
    background-repeat: no-repeat;
    background-size: contain;
}

h1, h2, h3, legend {
    font-family: 'Viking';
}

h1 {
    font-size: 8vw;
    text-align: center;
    margin: 0px;
}

h2 {
    font-size: 5vw;
}

h3 {
    font-size: 4vw;
}

legend {
    font-size: 3.5vw;
}

.alert {
    width: fit-content;
}

.orderConfirmation {
    border: double black 4px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    background-image: url('./assets/parchment-texture.webp');
    background-size: cover;
    filter: sepia(10%);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 10px auto;
    border: double black 5px;
    width: 80%;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.31);
    background-image: url('./assets/parchment-texture.webp');
    background-size: cover;
    filter: sepia(10%);
}

fieldset { 
    width: 80%;
}

.productWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

label {
    width: fit-content;
    margin: 5px 0px;
}

.quantField {
    margin: 5px 0px;
    width: 50px;
}

footer {
    text-align: center;
}